<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51796373713-jiei1db0vbffk36li1ud7q7lo3smjef4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51796373713-jiei1db0vbffk36li1ud7q7lo3smjef4</string>
	<key>API_KEY</key>
	<string>AIzaSyDNCrw7JL-BYLp_yixPRb9ptUsloooWJ7o</string>
	<key>GCM_SENDER_ID</key>
	<string>51796373713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeromolecule.radili</string>
	<key>PROJECT_ID</key>
	<string>radi-li</string>
	<key>STORAGE_BUCKET</key>
	<string>radi-li.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51796373713:ios:f4094eb6b212792f1015f0</string>
</dict>
</plist>